
<%= render 'post', post: @post %>

<h2>Leave Comments</h2>

<% if user_signed_in? %>
  <%= render 'comments/form', comment: @comment %>
<% else %>
  <div class="alert alert-warning">You must be <%= link_to 'logged in', new_user_session_path %> to post a comment</div>
<% end %>

<% @post.comments.order(posted: :desc).each do |comment| %>
    <div class="comment">
      <p><%= comment.content %></p>
      <p class="comment-meta text-muted">Posted <%= distance_of_time_in_words_to_now comment.posted %> ago by <%= comment.user.username %></p>
      <hr class="small">
    </div>
<% end %>