<% breadcrumb :show, @post %>

<%= render 'posts/post', post: @post %>

<h3>Leave Comments</h3>

<% if user_signed_in? %>
  <%= render 'comments/form', comment: @comment %>
<% else %>
  <div class="alert alert-warning">You must be <%= link_to 'logged in', new_user_session_path %> to post a comment</div>
<% end %>

<% @post.comments.order(posted: :desc).each do |comment| %>
    <div class="comment">
      <p><%= comment.content %></p>
      <p class="comment-meta text-muted">
        Posted <%= distance_of_time_in_words_to_now comment.posted %> ago
        by <%= comment.user.username %>
        <% if user_can_edit comment %>
          | <%= link_to 'Edit', edit_comment_path(comment) %>
          | <%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </p>
      <hr class="small">
    </div>
<% end %>