
<%= render 'post', post: @post %>

<h2>Leave Comments</h2>

<% if user_signed_in? %>
  <%= render 'comments/form', comment: @comment %>
<% else %>
  <div class="alert alert-warning">You must be logged in to post a comment</div>
<% end %>

<% @post.comments.each do |comment| %>
  <div class="row">
    <p><%= comment.content %></p>
    <p>Posted by <%= comment.user.username %> on <%= comment.posted %></p>
  </div>
<% end %>